# *Introduction To Functions*

### Overview
1. Read movie_metadata.csv into a list of lists and assign to movie_data.
    - Open and read the file movie_metadata.csv into a string variable.
    - Split the data into rows on the newline character ("\n").
    - Create an empty list, movie_data.
    - Loop through each row, and split each row into a list on the comma character (","), and append it to movie_data.
2. Display the first 5 lists in movie_data using the print() function

In [2]:
f = open("movie_metadata.csv", "r")
data = f.read()

movies = data.split("\n")
movie_data = []

for item in movies:
    new_item = item.split(",")
    movie_data.append(new_item)
    
movie_data[0:5]

[['movie_title',
  'director_name',
  'color',
  'duration',
  'actor_1_name',
  'language',
  'country',
  'title_year'],
 ['Avatar',
  'James Cameron',
  'Color',
  '178',
  'CCH Pounder',
  'English',
  'USA',
  '2009'],
 ["Pirates of the Caribbean: At World's End",
  'Gore Verbinski',
  'Color',
  '169',
  'Johnny Depp',
  'English',
  'USA',
  '2007'],
 ['Spectre',
  'Sam Mendes',
  'Color',
  '148',
  'Christoph Waltz',
  'English',
  'UK',
  '2015'],
 ['The Dark Knight Rises',
  'Christopher Nolan',
  'Color',
  '164',
  'Tom Hardy',
  'English',
  'USA',
  '2012']]

### Writing Own Functions

Write a function, with a definition, name, argument(s), body and return value, that returns a list containing the names of the movies in movie_data. This function is expected to behave similar to first_elt(), but for multiple lists.

Give the function a name that describes what it does; first_elts() is a good example, but feel free to be creative.
Declare an empty list.
Use a for loop to extract the first element of each list, and append these elements to the empty list.
Return the list.
Assign the returned list to movie_names.

Display the first 5 elements of movie_names using the print() function.