# *Memory and Unicode*

###

In [7]:
import pandas as pd
import numpy as np
from csv import reader

f = open('sentences_cia.csv')
read_file = reader(f)
llist = list(read_file)

sentences = pd.DataFrame(llist[1:], columns=llist[0])

In [17]:
sentences.loc[:10, 'year']

0     1997
1     1997
2     1997
3     1997
4     1997
5     1997
6     1998
7     1998
8     1998
9     1998
10    1998
Name: year, dtype: object

In [14]:
x = list(sentences['year'].unique())
x

['1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014']

In [37]:
x97 = sentences[sentences['year'] == x[0]]
x97

   year                                          statement
0  1997  The FBI information included that al-Mairi's b...
1  1997  The FBI information included that al-Mairi's b...
2  1997  For example, on October 12, 2004, another CIA ...
3  1997  On October 16, 2001, an email from a CTC offic...
4  1997  For example, on October 12, 2004, another CIA ...
5  1997  On October 16, 2001, an email from a CTC offic...

In [42]:
good_characters = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 65, 66, 67, 68, 69, 
                   70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 
                   85, 86, 87, 88, 89, 90, 97, 98, 99, 100, 101, 102, 103, 104, 
                   105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 
                   117, 118, 119, 120, 121, 122, 32]

def clean_statement(df):
    statement = df['statement']
    cleaned_s_list = [s for s in statement if ord(s) in good_characters]
    clean_statement = "".join(cleaned_s_list)
    return clean_statement

def top_two_tokens(year):
    df = sentences[sentences['year'] == year]
    df['cleaned_statement'] = df.apply(clean_statement, axis=1)
    combined_words = " ".join(df['cleaned_statement'])
    tokenized_words = combined_words.split(" ")
    filtered_tokens = [s for s in tokenized_words if len(s) >= 5]

    from collections import Counter
    tokens = Counter(filtered_tokens)
    x = tokens.most_common(2)
    return x
    
print(top_two_tokens('1997'))

[('October', 4), ('information', 2)]

/home/naveen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [40]:
combined_words = " ".join(x97['cleaned_statement'])
tokenized_words = combined_words.split(" ")
filtered_tokens = [s for s in tokenized_words if len(s) >= 5]

from collections import Counter
tokens = Counter(filtered_tokens)
x = tokens.most_common(2)
print(x)

[('October', 4), ('information', 2)]

In [ ]:
# sentences_cia has been loaded in.
# It already has the cleaned_statement column.

good_characters = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 65, 66, 67, 68, 69, 
                   70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 
                   85, 86, 87, 88, 89, 90, 97, 98, 99, 100, 101, 102, 103, 104, 
                   105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 
                   117, 118, 119, 120, 121, 122, 32]

def clean_statement(df):
    statement = df['statement']
    cleaned_s_list = [s for s in statement if ord(s) in good_characters]
    clean_statement = "".join(cleaned_s_list)
    return clean_statement

def top_two_tokens(year):
    df = sentences_cia[sentences_cia['year'] == year]
    df['cleaned_statement'] = df.apply(clean_statement, axis=1)
    combined_words = " ".join(df['cleaned_statement'])
    tokenized_words = combined_words.split(" ")
    filtered_tokens = [s for s in tokenized_words if len(s) >= 5]

    from collections import Counter
    tokens = Counter(filtered_tokens)
    x = tokens.most_common(2)
    return x


common_2000 = top_two_tokens('2000')
common_2002 = top_two_tokens('2002')
common_2013 = top_two_tokens('2013')

In [ ]:
from collections import Counter
def top_two_tokens(year):
    df = sentences_cia[sentences_cia['year'] == year]
    df['cleaned_statement'] = df.apply(clean_statement, axis=1)
    combined_words = " ".join(df['cleaned_statement'])
    tokenized_words = combined_words.split(" ")
    filtered_tokens = [s for s in tokenized_words if len(s) >= 5]
    tokens = Counter(filtered_tokens)
    return tokens.most_common(2)

common_2000 = top_two_tokens('2000')
common_2002 = top_two_tokens('2002')
common_2013 = top_two_tokens('2013')