# *Files and Loops*

### Opening Files
1. Use the open() function to create a File object.
    - The name of the file to open is "crime_rates.csv". Access the file in read mode ("r").
    - Assign this File object to the variable f.

In [6]:
f = open("crime_rates.csv", "r")

### Reading in Files
1. Run the read() method on the File object f to return the string representation of crime_rates.csv.
    - Assign the resulting string to a new variable named data.

In [8]:
f = open("crime_rates.csv", "r")
data = f.read()
data

'Albuquerque,749\nAnaheim,371\nAnchorage,828\nArlington,503\nAtlanta,1379\nAurora,425\nAustin,408\nBakersfield,542\nBaltimore,1405\nBoston,835\nBuffalo,1288\nCharlotte-Mecklenburg,647\nCincinnati,974\nCleveland,1383\nColorado Springs,455\nCorpus Christi,658\nDallas,675\nDenver,615\nDetroit,2122\nEl Paso,423\nFort Wayne,362\nFort Worth,587\nFresno,543\nGreensboro,563\nHenderson,168\nHouston,992\nIndianapolis,1185\nJacksonville,617\nJersey City,734\nKansas City,1263\nLas Vegas,784\nLexington,352\nLincoln,397\nLong Beach,575\nLos Angeles,481\nLouisville Metro,598\nMemphis,1750\nMesa,399\nMiami,1172\nMilwaukee,1294\nMinneapolis,992\nMobile,522\nNashville,1216\nNew Orleans,815\nNew York,639\nNewark,1154\nOakland,1993\nOklahoma City,919\nOmaha,594\nPhiladelphia,1160\nPhoenix,636\nPittsburgh,752\nPlano,130\nPortland,517\nRaleigh,423\nRiverside,443\nSacramento,738\nSan Antonio,503\nSan Diego,413\nSan Francisco,704\nSan Jose,363\nSanta Ana,401\nSeattle,597\nSt. Louis,1776\nSt. Paul,722\nStockton,1548\nTampa,616\nToledo,1171\nTucson,724\nTulsa,990\nVirginia Beach,169\nWashington,1177\nWichita,742'

### Splitting 
1. Split the string object data on the new-line character "\n", and store the result in a variable named rows. - Then, use the print() function to display the first five elements in rows.

In [10]:
# We can split a string into a list.
sample = "john,plastic,joe"
split_list = sample.split(",")
print(split_list)

# Here's another example.
string_two = "How much wood\ncan a woodchuck chuck\nif a woodchuck\ncould chuck wood?"
split_string_two = string_two.split('\n')
print(split_string_two)

# Code from previous cells
f = open('crime_rates.csv', 'r')
data = f.read()
rows = data.split('\n')
print(rows[0:5])

['john', 'plastic', 'joe']
['How much wood', 'can a woodchuck chuck', 'if a woodchuck', 'could chuck wood?']
['Albuquerque,749', 'Anaheim,371', 'Anchorage,828', 'Arlington,503', 'Atlanta,1379']

### Practice: Loops

1. The variable ten_rows contains the first 10 elements in rows.
2. Write a for loop that:
    - iterates over each element in ten_rows
    - uses the print() function to display each element

In [11]:
ten_rows = rows[0:10]
for item in ten_rows:
    print(item)

Albuquerque,749
Anaheim,371
Anchorage,828
Arlington,503
Atlanta,1379
Aurora,425
Austin,408
Bakersfield,542
Baltimore,1405
Boston,835

### Lists of Lists

In [12]:
three_rows = ["Albuquerque,749", "Anaheim,371", "Anchorage,828"]
final_list = []
for row in three_rows:
    split_list = row.split(',')
    final_list.append(split_list)
print(final_list)
print(final_list[0])
print(final_list[1])
print(final_list[2])

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828']]
['Albuquerque', '749']
['Anaheim', '371']
['Anchorage', '828']

### Practice: Splitting Elements in a List
1. Write a for loop that splits each element in rows on the comma delimiter, and appends the resulting list to a new list named final_data.
2. Then, use the print() function and list slicing to display the first five elements in final_data.

In [13]:
f = open('crime_rates.csv', 'r')
data = f.read()
rows = data.split('\n')
print(rows[0:5])
final_data = []
for item in rows:
    new_list = item.split(',')
    final_data.append(new_list)
print(final_data[0:5])

['Albuquerque,749', 'Anaheim,371', 'Anchorage,828', 'Arlington,503', 'Atlanta,1379']
[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828'], ['Arlington', '503'], ['Atlanta', '1379']]

### Accessing Elements in a List of Lists: The Manual Way

1. five_elements contains the first five elements from final_data.
2. Create a list of strings named cities_list that contains the city names from each list in five_elements.

In [16]:
five_elements = final_data[:5]
print(five_elements)
cities_list = [five_elements[0][0], 
               five_elements[1][0], 
               five_elements[2][0], 
               five_elements[3][0], 
               five_elements[4][0]]
cities_list

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828'], ['Arlington', '503'], ['Atlanta', '1379']]

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta']

### Looping Through a List of Lists
1. Create a list of strings named cities_list that contains just the city names from final_data.
2. Recall that the city name is located at index 0 for each list in final_data.

In [18]:
cities_list = []
for city in final_data:
    item = city[0]
    cities_list.append(item)
print(cities_list[0:5])

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta']

### Challenge

**Create a list of integers named int_crime_rates that contains just the crime rates - as integers - from the list rows.**

1. First create an empty list and assign it to a new variable int_crime_rates.
2. Then, write a for loop that iterates over rows and does the following:
    - uses the split() method to convert each string in rows into a list, based on the comma delimiter
    - converts the value at index 1 from that list to an integer using the int() function
    - uses the append() method to add each integer to int_crime_rates

In [19]:
f = open('crime_rates.csv', 'r')
data = f.read()
rows = data.split('\n')
print(rows[0:5])

int_crime_rates = []
for item in rows:
    crimes = item.split(',')
    crime_in_int = int(crimes[1])
    int_crime_rates.append(crime_in_int)
print(int_crime_rates[0:5])

['Albuquerque,749', 'Anaheim,371', 'Anchorage,828', 'Arlington,503', 'Atlanta,1379']
[749, 371, 828, 503, 1379]

# *Booleans and If Statements*

### Booleans
1. Assign the value True to the variable cat, and the value False to the variable dog.
2. Then, use the print() function and the type() function to display the type for cat.

In [20]:
cat = True
dog = False

print(type(cat))

<class 'bool'>

### Boolean Operators
1. Use the Boolean operators to determine if the following pairs of values are equivalent:
    - The first element in cities and the string "Albuquerque". Assign the resulting Boolean value to first_alb.
    - The second element in cities and the string "Albuquerque". Assign the resulting Boolean value to second_alb.
    - The first element in cities and the last element in cities. Assign the resulting Boolean value to first_last.

In [23]:
cities = []

for n in rows:
    item = n.split(',')
    city = item[0]
    cities.append(city)

print(cities)
first_alb = ("Albuquerque" == cities[0])
second_alb = ("Albuquerque" == cities[1])
first_last = (cities[0] == cities[len(cities)-1])

first_last

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta', 'Aurora', 'Austin', 'Bakersfield', 'Baltimore', 'Boston', 'Buffalo', 'Charlotte-Mecklenburg', 'Cincinnati', 'Cleveland', 'Colorado Springs', 'Corpus Christi', 'Dallas', 'Denver', 'Detroit', 'El Paso', 'Fort Wayne', 'Fort Worth', 'Fresno', 'Greensboro', 'Henderson', 'Houston', 'Indianapolis', 'Jacksonville', 'Jersey City', 'Kansas City', 'Las Vegas', 'Lexington', 'Lincoln', 'Long Beach', 'Los Angeles', 'Louisville Metro', 'Memphis', 'Mesa', 'Miami', 'Milwaukee', 'Minneapolis', 'Mobile', 'Nashville', 'New Orleans', 'New York', 'Newark', 'Oakland', 'Oklahoma City', 'Omaha', 'Philadelphia', 'Phoenix', 'Pittsburgh', 'Plano', 'Portland', 'Raleigh', 'Riverside', 'Sacramento', 'San Antonio', 'San Diego', 'San Francisco', 'San Jose', 'Santa Ana', 'Seattle', 'St. Louis', 'St. Paul', 'Stockton', 'Tampa', 'Toledo', 'Tucson', 'Tulsa', 'Virginia Beach', 'Washington', 'Wichita']

False

### Booleans with "Greater Than"

1. The variable crime_rates is a list of integers containing the crime rates from the dataset. Perform the following comparisons:
    - Evaluate whether the first element in crime_rates is larger than the integer 500, and assign the Boolean result to first_500.
    - Evaluate whether the first element in crime_rates is larger than or equal to 749, and assign the Boolean result to first_749.
    - Evaluate whether the first element in crime_rates is greater than or equal to the last element in crime_rates, and assign the Boolean result to first_last.

In [24]:
crime_rates = int_crime_rates

print(crime_rates)

first_500 = (crime_rates[0] >= 500)
print(first_500)
first_749 = (crime_rates[0] >= 749)
print(first_749)
first_last = (crime_rates[0] >= crime_rates[len(crime_rates)-1])
print(first_last)

[749, 371, 828, 503, 1379, 425, 408, 542, 1405, 835, 1288, 647, 974, 1383, 455, 658, 675, 615, 2122, 423, 362, 587, 543, 563, 168, 992, 1185, 617, 734, 1263, 784, 352, 397, 575, 481, 598, 1750, 399, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 130, 517, 423, 443, 738, 503, 413, 704, 363, 401, 597, 1776, 722, 1548, 616, 1171, 724, 990, 169, 1177, 742]
True
True
True

### Booleans with "Less Than"

1. The variable crime_rates is a list containing the crime rates from the dataset as integers. Perform the following comparisons:
    - Determine whether the second element in crime_rates is smaller than the integer 500, and assign the Boolean result to second_500.
    - Determine whether the second element in crime_rates is smaller than or equal to 371, and assign the Boolean result to second_371.
    - Determine whether the second element in crime_rates is smaller than or equal to the last element in crime_rates, and assign the Boolean result to second_last.

In [25]:
print(crime_rates)
second_500 = (crime_rates[1] <= 500)
print(second_500)

second_371 = (crime_rates[1] <= 371)
print(second_371)

second_last = (crime_rates[1] <= crime_rates[len(crime_rates)-1])
print(second_last)

[749, 371, 828, 503, 1379, 425, 408, 542, 1405, 835, 1288, 647, 974, 1383, 455, 658, 675, 615, 2122, 423, 362, 587, 543, 563, 168, 992, 1185, 617, 734, 1263, 784, 352, 397, 575, 481, 598, 1750, 399, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 130, 517, 423, 443, 738, 503, 413, 704, 363, 401, 597, 1776, 722, 1548, 616, 1171, 724, 990, 169, 1177, 742]
True
True
True

### If Statements

1. Determine whether the third element in cities is equivalent to the string "Anchorage".
    - If it is, change the variable result to 1.

In [26]:
result = 0
if cities[2] == "Anchorage":
    result = 1
    
result

1

### Nesting If Statements 
1. Write a piece of code that nests the following concepts in the order in which they appear:
    - An if statement that tests whether the first element in crime_rates is larger than 500
    - A second if statement that tests whether the second element in crime_rates is larger than 300
    - If both statements evaluate to True, assign the value True to the variable both_conditions

In [27]:
both_conditions = False
if crime_rates[0] > 500:
    if crime_rates[1] > 300:
        both_conditions = True
print(both_conditions)

True

### If Statements and For Loops
1. Create a new list, five_hundred_list, that contains only the elements from crime_rates that are greater than 500. To accomplish this, you'll need a for loop and an if statement:
    - The for loop specifies which list we want to iterate over and the name of the iterator variable (we use cr in our answer).
    - The if statement determines whether the current element (cr) is larger than 500.
        - If the current element (cr) is larger than 500, use the append() method to add it to five_hundred_list.

In [28]:
five_hundred_list = []
for cr in crime_rates:
    if cr > 500:
        five_hundred_list.append(cr)
print(five_hundred_list)
print(len(five_hundred_list))

[749, 828, 503, 1379, 542, 1405, 835, 1288, 647, 974, 1383, 658, 675, 615, 2122, 587, 543, 563, 992, 1185, 617, 734, 1263, 784, 575, 598, 1750, 1172, 1294, 992, 522, 1216, 815, 639, 1154, 1993, 919, 594, 1160, 636, 752, 517, 738, 503, 704, 597, 1776, 722, 1548, 616, 1171, 724, 990, 1177, 742]
55

### Find The Highest Crime Rate
1. Find the largest integer in crime_rates using the strategy we just outlined, and assign that value to the variable highest.

In [29]:
#print(crime_rates)
highest = crime_rates[0]
for cr in crime_rates:
    if cr > highest:
        highest = cr
print(highest)

2122